**/*/tmp
**/*/log
**/*/*.gem
**/*/*.sqlite3
**/*/public/assets
**/*/node_modules
# Exception: Include rswag-ui node_modules in the gem
!rswag-ui/node_modules
*.swp
Gemfile.lock
/.idea/
**/.byebug_history
**/coverage
